{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="#">Home</a></li>
      <li><a href="#">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        You need to confirm your identity
      </h1>

      <p> Government gateway stuff goes here </p>

      <p>
        <a class="button button-continue" href="confirm your details.html" role="button">Government gateway</a>
      </p>

      <p>
        <a class="button button-continue" href="confirm your details.html" role="button">Verify UK</a>
      </p>



    </div>
  </div>

</main>

{% endblock %}
