{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="#">Home</a></li>
      <li><a href="#">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Where did you live during "Date here"?
      </h1>

        <div class="form-group">
          <label class="form-label" for="first-name-2">House Number or Name</label>
            <input class="form-control" id="first-name-2" name="first-name-2" type="text">
        </div>
          <div class="form-group">
            <label class="form-label" for="last-name-2">Postcode/Zip</label>
            <input class="form-control" id="last-name-2" name="last-name-2" type="text">
          </div>

    <div class="panel panel-border-narrow">
      <h1 class="heading-medium">
        Your Address
      </h1>
      <p> Address Line 1, Area, Postcode, Country</P>

    </div>

    <p><a href="#"> Not your address? Enter manually here.</a> </p>
</br>
      <div class="form-group">
        <p>
          <a class="button button-continue" href="does anyone else reside with you.html" role="button">Continue</a>
        </p>
      </div>

    </div>
  </div>

</main>

{% endblock %}
