{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="roc-start-page">Home</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">


      <form>
        <fieldset>

          <legend>
            <h3 class="heading-medium">Security question 1/3</h3>
            <span class="body-text">Question would be shown here</span>
          </legend>
<input class="form-control" id="ni-number" type="text" name="ni-number">


        </fieldset>
      </form>

<br>

      <p>
        <a class="button button-continue" href="change.html" role="button">Continue</a>
      </p>


    </div>
  </div>

</main>

{% endblock %}
